name: Deploy to Firebase Hosting on Merge
'on':
  push:
    branches:
      - main  # Or 'master', depending on your default branch name
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TEGPRODUCTIONDB }}'
          channelId: live
          projectId: tegproductiondb
